language: node_js
node_js:
  - "8"
before_script:
  - apt-get install -y fakeroot dpkg-deb
  - npm install
  - npm install -g electron
script:
  - npm run build
  - npm run deb64
deploy:
  provider: releases
  api_key: $deploy_key
  file:
  - dist/installers/*.deb
  skip_cleanup: true
  on:
    repo: Eonm/Make-MD-electron
    all_branches: true
tags: true
