language: node_js
node_js:
  - "8"
before_script:
  - export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start
  - sudo apt-get install -y fakeroot
  - npm install
  - npm install -g electron
  - npm install -g mocha
  - npm install -g electron-mocha
script:
  - npm run test
  - npm run build
  - npm run deb64
deploy:
  provider: releases
  api_key: $deploy_key
  file:
  - ./dist/installers/makemd_0.1.1_amd64.deb
  skip_cleanup: true
  on:
    repo: Eonm/Make-MD-electron
    all_branches: true
tags: true
